{% extends "base.html" %}

{% block header %}
    <h2>about</h2>    
{% endblock header %}

{% block content %}
    <p>We are scientists, engineers, philosophers, and idealists. We fundamentally believe that the only way to push science forward at speeds faster than a crawl, requires the open communication of ideas and data. This is why we started opensciencedata.org</p>
    <br />
    <p>opensciencedata.org is more than a place where you can dump data to. It is a community built for the dissemination of data and ideas. Feel free to explore what the community has to offer and if you want, sign up for an account so that you too can contribute to the opensciencedata.org data sets.</p>
    <br />
    <p>Thanks for visiting us!</p>
{% endblock content %}