{% extends "base.html" %}

{% block header %}
    <h2>about</h2>    
{% endblock header %}

{% block content %}
    <p>
        We are scientists, engineers, philosophers, and idealists. We fundamentally believe that the only way to push science forward at speeds faster than a crawl, requires the open communication of ideas and data. This is why we started <a href="http://www.opensciencedata.org">opensciencedata.org</a>.
    </p>
    <p>
        <a href="http://www.opensciencedata.org">opensciencedata.org</a> is more than a place where you can dump data to. It is a community built for the dissemination of data and ideas. Feel free to explore what the community has to offer and if you want, sign up for an account so that you too can contribute to the <a href="http://www.opensciencedata.org">opensciencedata.org</a> data sets.
    </p>
    <p>
        This bus is sort of being driven by these two:
    </p>
    <div class="row">
        <div class="span3">
            <img src="/static/media/andy.jpg">
            <br>
            <a href="http://flavors.me/andy_maloney" target="_blank">Andy Maloney</a>
        </div>
        <div class="span3">
            <img src="/static/media/sandeep.jpg">
            <br>
            <a href="http://about.me/sandeep-parikh" target="_blank">Sandeep Parikh</a>
        </div>
    </div>
{% endblock content %}