{% extends "base.html" %}

{% block header %}
    <h2>contact</h2>    
{% endblock header %}

{% block content %}
	<p>
        Please feel free to let us know how we are doing. opensciencedata will be under 
        constant development until we reach our goals of making this community a one 
        stop spot for all your open data needs. Any suggestions on how to expand the 
        features of the community or any bugs that you come across can be addressed in 
        this form.
    </p>
	<p>
        If you feel that what we are doing here can be done better or you want to test a 
        feature and you are not afraid to delve into a little code, please feel free to 
        <a href="https://github.com/crcsmnky/opensciencedata">download the source</a> to 
        debug any ideas you may have. When you think you are ready to deploy your idea, 
        drop us a line with the addition and we will work to incorporate it. As long as 
        it doesn't break us, we welcome the spirit of all open source endeavors.
    </p>
	<p>
        Please email us at <a href="opendata.science@gmail.com">opendata.science@gmail.com</a>.
    </p>
{% endblock content %}