{% extends "base.html" %}

{% block header %}
    <h2>welcome <small>to open science data, a site for scientists to share data</small></h2>
{% endblock header %}

{% block content %}
    <p>
        This site is designed to be a repository for open science data, or any data that you 
        wish to share with the world. Our goal is to break data free from the confines of a 
        graph in a journal and allow anyone the ability to download the raw data so that 
        they can do analysis on it if they want.
    </p>
    <p>
        Anyone can view data from this site. In order to upload data files, please sign up 
        for an account. In the mean time, do check out our data sets and get ready to do 
        some science.
    </p>

    {% if top_datasets %}
        <h3>top datasets</h3>
        <ol>
            {% for d in top_datasets %}
                <li>
                    <a href="/datasets/{{ d.id }}/view">{{ d.name }}</a> ({{ d.downloads }} download{{ d.downloads|pluralize }})
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <h3>no top datasets</h3>
    {% endif %}

    {% if recent_datasets %}
        <h3>recent datasets</h3>
        <ol>
            {% for d in recent_datasets %}
                <li>
                    <a href="/datasets/{{ d.id }}/view">{{ d.name }}</a> - {{ d.updated }}
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <h3>no recent datasets</h3>
    {% endif %}
{% endblock content %}
