{% extends "base.html" %}

{% block header %}
    <h2>welcome</h2>
{% endblock header %}

{% block content %}
	<p>Welcome to opensciencedata.org.</p>
	<br />
	<p>This site is designed to be a repository for open science data, or any data that you wish to share with the world. Our goal is to break data free from the confines of a graph in a journal and allow anyone the ability to download the raw data so that they can do analysis on it if they want.</p>
	<br /><p>Anyone can view data from this site. In order to upload data files, please sign up for an account. In the mean time, do check out our data sets and get ready to do some science.</p>
    {% if datasets %}
        <h3>recent datasets</h3>
        <ul>
            {% for d in datasets %}
                <li>{{ d.name }} - {{ d.user.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>no datasets found</h3>
    {% endif %}
{% endblock content %}
